@using WebConcessionariasVeiculos.Models
@model IEnumerable<Veiculo>

@{
    ViewData["Title"] = "Lista de Veículos";
}

<h2>Lista de Veículos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Veículo</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Ano de Fabricação</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Fabricante</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Modelo</td>
                <td>@item.AnoFabricacao</td>
                <td>@item.Preco.ToString("C")</td>
                <td>@item.Tipo</td>
                <td>@item.Fabricante.Nome</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
</p>